h1 {
    text-align:center;
    font-family: "Garamond", "Times New Roman", Times, "serif"
}

img{
    
    border: dashed grey;
    border-radius: 200px;
    border-width: 1px;
}


#kuvadivi {
    display:flex;
    background-color: lightblue;
    justify-content:center;
}
